<?php
$host="localhost";
$user="root";
$pass="";

switch($_SERVER['HTTP_HOST'])
{
	case 'localhost': 	
		$host="localhost";
		$user="root";
		$pass="";
		$dbname="farmacia_fsalinas";
	break;
	
	default:
		$host="localhost";
		$user="farmacia_fsalina";
		$pass="cfN(Lk&tX8X,";
		$dbname="farmacia_fsalinas";
		

	break;
 
}
//$dbname=__DIR__."/phprbac.sqlite3";
 // $dbname="emfrichc_emfrich";

/*$adapter="pdo_sqlite";*/
// $adapter="pdo_mysql";
$adapter="mysqli";

$tablePrefix = "";
